<!-- Sign Up Modal -->
<div id="signUpModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <button type="button" class="close-icon modal-close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, remote: true, url: registration_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: 'Email', label: false %>
              <ul class="form-statuses" data-statusfor="email">
              </ul>
            <%= f.input :name, required: true, placeholder: 'Name', label: false %>
              <ul class="form-statuses" data-statusfor="name">
              </ul>
            <%= f.input :password, required: true, placeholder: 'Password', label: false %>
              <ul class="form-statuses" data-statusfor="password">
              </ul>
            <%= f.input :password_confirmation, required: true, placeholder: 'Confirm Password', label: false %>
              <ul class="form-statuses" data-statusfor="password_confirmation">
              </ul>
          </div>
      </div>
      <div class="modal-footer">
          <ul class="form-footer-links-and-statuses">
          </ul>
          <%= f.submit 'Submit', class: 'btn btn-default'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
